<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #dbdbdb7e;">
    <div class=" navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active current" >
                <a class="nav-link" routerLink="">Home </a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active current" class="nav-link" routerLink="check">Perfect Square Check</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active current" class="nav-link" routerLink="range">Perfect Squares in Range</a>
            </li>
        </ul>
    </div>
</nav>