<div class="row">
    <div class="col"></div>
    <form (ngSubmit)="onSubmit()" class="col" [formGroup]="form">
        <div *ngIf="form.errors?.num1Greater" class="alert alert-danger">
            Lower Number should always be lesser than Higher Number
        </div>
        <div class="form-group">
            <label for="number1">Enter Lower Number</label>
            <input type="number" name="number1" id="number1" formControlName="number1">
        </div>
        <div class="form-group">
            <label for="number2">Enter Higher Number</label>
            <input type="number" name="number2" id="number2" formControlName="number2" >
        </div>
        <div *ngIf="number1?.touched && number2?.touched" >
            <div *ngIf="number1?.errors?.required" class="alert alert-danger">
                Lower Number is required
            </div>
            <div *ngIf="number1?.errors?.notNegative" class="alert alert-danger">
                Lower Number cannot be negative
            </div>
            <div *ngIf="number2?.errors?.required" class="alert alert-danger">
                Higher Number is required
            </div>
            <div *ngIf="number2?.errors?.notNegative" class="alert alert-danger">
                Higher Number cannot be negative
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        <br>
        <br>
        <div *ngIf="toShow==true" class="alert alert-primary">
            <p *ngFor="let root of output">{{ root }} </p>
        </div>
    </form>
    <div class="col"></div>
</div>