<div class="row">
    <div class="col"></div>
    <form (ngSubmit)="submit()" class="col" [formGroup]='form'>
        <div class="form-group">
            <label for="number1">Enter Number</label>
            <input ngModel type="number" name="number1" id="number1" formControlName='number1'>
        </div>
        <div *ngIf="number1?.touched" >
            <div *ngIf="number1?.errors?.required" class="alert alert-danger">
                Lower Number is required
            </div>
            <div *ngIf="number1?.errors?.notNegative" class="alert alert-danger">
                Lower Number cannot be negative
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        <br> <br>
        <div *ngIf="toShow==true" class="alert alert-primary">{{ log }}</div>
    </form>
    <div class="col"></div>
</div>
