<div class="row">
    <div class="col"></div>
    <div class="col text-center mt-4">
        <h1>Perfect Squares!</h1>
    </div>
    <div class="col"></div>
</div>
<br><br>
<div class="row text-center">
    <div class="col-3"></div>
    <div class="col alert alert-warning">
        <h4>What is a Perfect Square?</h4>
        <p>A perfect square is a number, from a given number system, that can be expressed as the square of a number
            from
            the same number system. Examples of Numbers that are Perfect Squares. 25 is a perfect square. 25 is a
            natural
            number, and since there is another natural number 5, such that 52 = 25, 25 is a perfect square.
        </p>
        <span>This app is used to work on Perfect Squares </span>
    </div>
    <div class="col-3"></div>
</div>
<br><br>
<div class="row text-center">
    <div class="col-3"></div>
    <div class="col alert alert-primary">
        <h4>Perfect Square Check</h4>
        <p>This part will take a Number from you and tell you whether it is a Perfect square or not. It will also tell you the root of the number if it is a Perfect square </p>
    </div>
    <div class="col-1"></div>
    <div class="col alert alert-primary">
        <h4>Perfect Square in Range</h4>
        <p>This part will take two numbers from you and will tell you all numbers in between the two numbers which are Perfect Squares. Along with that it will also tell you the numbers root!  </p>
    </div>
    <div class="col-3"></div>

</div>